{% extends "base.html" %}

{% block content %}

<h1 class="display-4 text-center m-4">{{title}}</h1>

    {% if blogposts|length == 0 %}
        <p class="lead">No blog posts yet</p>
    {% else %}

        {% for blogpost in blogposts %}
        <article class="mb-5">
            <h2>
                <a href="/blog?id={{blogpost.id}}" class="text-dark bg-light pt-2 pr-3 pb-2 pl-5 mt-1">
                    {{blogpost.title}}
                </a>
            </h2>
            <p class="pt-4 pb-2 pl-5">{{blogpost.body}}</p>
            

            <a href="/blog?user={{blogpost.owner_id}}" class="pt-2 pr-5 pb-2 pl-5 mt-1">
                <small class="text-muted">Written by {{blogpost.owner_id}}</small>
            </a>
            <!-- <hr class="mb-5"> -->
        </article>
        {% endfor %}

    {% endif %}

{% endblock %}
