{% extends "base.html" %}

{% block content %}

    <h1>Starter template</h1>

    <form method="post">
        <label>
            Title:
            <input type="text" name="blog-post-title" />
            Body:
            <input type="text" name="blog-post-body" />
        </label>
        <input type="submit" value="Add Post" />
    </form>

    <hr />

    {% if blogposts|length == 0 %}
    <p class="lead">No blog posts yet</p>
    {% else %}

        <ul>
            {% for blogpost in blogposts %}
            <li>
                {{blogpost.title}}
            </li>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}
