{% extends "base.html" %}

{% block content %}

<h1 class="display-4 text-center m-4">{{title}}</h1>

    {% if users|length == 0 %}
        <p class="lead">No users yet</p>
    {% else %}

        {% for user in users %}
            <h2>
                <!-- <a href="/blog?id={{user.id}}" class="text-dark bg-light pt-2 pr-3 pb-2 pl-5"> -->
                    {{user.username}}
                <!-- </a> -->
            </h2>
            <!-- <p class="mb-5 p-4 pl-5">{{user.body}}</p> -->
        {% endfor %}

    {% endif %}

{% endblock %}
