{% extends "base.html" %}

{% block content %}

    <h1 class="display-4 text-center m-4">{{title}}</h1>

    <form action="/signup" method="post">

        <!-- Email -->
        <div class="form-group">
            <label for="new-username">Username</label>
            <input type="text" name="new-username" class="form-control" 
                    id="new-username" placeholder="username" value="{{ username }}">
                    <!-- {% with messages = get_flashed_messages(category_filter=["title-error"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="text-danger pl-2 pt-1">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %} -->
        </div>
        <!-- Password -->
        <div class="form-group">
            <label for="new-password">Password</label>
            <input type="password" name="new-password" class="form-control" 
                    id="new-password" placeholder="correct-horse-battery-staple" >
                    <!-- {% with messages = get_flashed_messages(category_filter=["title-error"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="text-danger pl-2 pt-1">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %} -->
        <!-- Verify Password -->
            <!-- <label for="new-password-verify">Verify Password</label> -->
            <input type="password" name="new-password-verify" class="form-control mt-2" 
                    id="new-password-verify" placeholder="correct-horse-battery-staple" >
                    <!-- {% with messages = get_flashed_messages(category_filter=["title-error"]) %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="text-danger pl-2 pt-1">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %} -->
        </div>
        
        <div class="form-group float-right">
            <input type="submit" value="Sign Up" class="btn btn-primary" />
            <a href="/" class="btn btn-outline-danger">Cancel</a>
        </div>
    </form>

{% endblock %}
